{% extends 'layouts/base.html' %}
{% load static %}
{% load humanize %}
{% block title %}Trang Chủ{% endblock %}

{% block body %}

<div class="d-flex justify-content-between align-items-center mb-4">
    <div class="d-flex justify-content-start">
        <button class="btn border me-2 btn-filter btn-success" data-id="-1">Tất cả</button>
        {% if categories|length > 0 %}
            {% for category in categories %}
                <button class="btn border me-2 btn-filter" data-id="{{ category.id }}">{{ category.name }}</button>
            {% endfor %}
        {% else %}
            <p>No categories available</p>
        {% endif %}
    </div>
</div>

<div class="row mb-5 container-phones">
    {% if products|length > 0 %}
        {% for product in products %}
            <div class="col-sm-6 col-lg-3 mb-4" data-aos="fade-up">
                <div class="block-4 text-center border shadow-lg position-relative accessory-item h-100" 
                    data-id="{{ product.id }}" 
                    data-category="{{ product.category.id }}"
                    onclick="location.href='{% url 'accessory_detail' accessory_id=product.id %}'"
                    style="cursor: pointer;"
                >
                    <figure class="block-4-image p-3">
                        <a href="#">
                            <img src="{{ product.image.url }}" alt="Image placeholder" class="img-fluid" style="max-height: 250px">
                        </a>
                    </figure>
                    <div class="block-4-text px-3 pb-3 text-start">
                        <h4 class="mb-3 w-100">
                            <a href="#"><span class="text-name-accessory">{{ product.name }}</span></a>
                        </h4>
                        <p class="text-primary font-weight-bold">Giá bán: <span class="text-warning text-retail-price-accessory">{{ product.retail_price|intcomma }}</span></p>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <p>No products available</p>
    {% endif %}

</div>

<div class="d-flex justify-content-center" id="groupBtn">
    <button type="button" class="btn btn-info" id="prevBtn" disabled><i class="ti ti-chevron-left"></i></button>
    <div class="border p-2 text-center" style="width: 80px;">
        <span id="curPage">1</span>/<span id="pageNum">{{ page_total }}</span>
    </div>

    <button type="button" class="btn btn-info" id="nextBtn" {% if page_total == 1 %} disabled {% endif %}>
        <i class="ti ti-chevron-right"></i>
    </button>
</div>
<script>
    function renderPhone(phones) {
        var phonesHtml = ``;
        phones.forEach(phone => {
            const retailPrice = phone.retail_price.toLocaleString('vi-VN', { style: 'currency', currency: 'VND' });
            phonesHtml += `
            <div class="col-sm-6 col-lg-3 mb-4 aos-init aos-animate" data-aos="fade-up">
                <div class="block-4 text-center border shadow-lg position-relative accessory-item h-100" 
                    data-id="${phone.id}" 
                    data-category="${phone.category_id}"
                    onclick="location.href='/accessories/${phone.id}'"
                    style="cursor: pointer;"                
                >
                    <figure class="block-4-image p-3">
                        <a href="#">
                            <img src="${phone.image}" alt="Image placeholder" class="img-fluid" style="max-height: 200px">
                        </a>
                    </figure>
                    <div class="block-4-text px-3 pb-3 text-start">
                        <h4 class="mb-3 w-100">
                            <a href="#"><span class="text-name-accessory">${phone.name}</span></a>
                        </h4>
                        <p class="text-primary font-weight-bold">Giá bán: <span class="text-warning text-retail-price-phone">${retailPrice}</span></p>
                    </div>
                </div>
            </div>`;
        });
        $('.container-phones').empty().append(phonesHtml);
    
    }
    $(function() {
        let currentPage = 1;
        let category = -1;
        $('.btn-filter').click(function() {
			currentPage = 1;
			$('.btn-filter').removeClass('btn-success');
			$(this).addClass('btn-success');
			const idCategory = $(this).data('id');
			category = idCategory;
            fetch(`/api/phones/page/${currentPage}?category=${category !== -1 ? category : ''}&is_phone=false`, {
				headers: {
                    "Content-Type": "application/json",
                    "X-CSRFToken": document.querySelector('input[name="csrfmiddlewaretoken"]').value,
                },
			})
				.then(res => res.json())
				.then(data => {
                    if (data.products.length == 0) {
                        $('#groupBtn').addClass('d-none');
                    } else {
                        $('#groupBtn').removeClass('d-none');
                    }
					renderPhone(data.products);
					$("#curPage").text(currentPage);
					$("#pageNum").text(data.page_total);
					$("#prevBtn").prop("disabled", true);
					$("#nextBtn").prop("disabled", false);
					if(currentPage == data.page_total) {
						$("#nextBtn").prop("disabled", true);
					}
				})
				.catch(err => {
					console.error(err);
					Swal.fire({
						title: "Lỗi",
						text: "Đã có lỗi xảy ra",
						icon: "error"
					});
				})
		});
        
        $("#nextBtn").click(function() {
            currentPage++;
            fetch(`/api/phones/page/${currentPage}?category=${category !== -1 ? category : ''}&is_phone=false`, {
                headers: {
                    "Content-Type": "application/json",
                    "X-CSRFToken": document.querySelector('input[name="csrfmiddlewaretoken"]').value,
                },
			})
            .then(res => res.json())
            .then(data => {
                renderPhone(data.products);
                currentPage = data.current_page;
                $("#curPage").text(currentPage);
                $("#pageNum").text(data.page_total);
                $("#prevBtn").prop("disabled", false);
                if (currentPage == data.page_total) {
                    $(this).prop("disabled", true);
                }
            })
            .catch(err => console.log(err));
        });
        
        $("#prevBtn").click(function() {
            currentPage--;
            fetch(`/api/phones/page/${currentPage}?category=${category !== -1 ? category : ''}&is_phone=false`, {
                headers: {
                    "Content-Type": "application/json",
                    "X-CSRFToken": document.querySelector('input[name="csrfmiddlewaretoken"]').value,
                },
			})
            .then(res => res.json())
            .then(data => {
                renderPhone(data.products);
                currentPage = data.current_page;
                $("#curPage").text(currentPage);
                $("#pageNum").text(data.page_total);
                $("#nextBtn").prop("disabled", false);
                if (currentPage == 1) {
                    $("#prevBtn").prop("disabled", true);
                }
            })
            .catch(err => console.log(err));
        });
    })
</script>
{% endblock %}