{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Phone Store</title>
  <link rel="shortcut icon" type="image/png" href="{% static "/images/logos/favicon.png" %}" />
  <link rel="stylesheet" href="{% static "css/styles.min.css" %}">
  <script src="{% static "/libs/jquery/dist/jquery.min.js" %}"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
</head>
<body>
  <!--  Body Wrapper -->
  <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
    data-sidebar-position="fixed" data-header-position="fixed">
    <div
      class="position-relative overflow-hidden radial-gradient min-vh-100 d-flex align-items-center justify-content-center">
      <div class="d-flex align-items-center justify-content-center w-100">
        <div class="row justify-content-center w-100">
          <div class="col-md-8 col-lg-3 col-xxl-3">
            <div class="card mb-0">
              <div class="card-body">
                <a href="/static" class="text-nowrap logo-img text-center d-block py-3 w-100">
                  <img src="{% static "/images/logos/favicon.png" %}" width="180" alt="">
                </a>
                <form method="post">
                  {% csrf_token %}
                  <div class="mb-3">
                    <label for="username" class="form-label">Tên tài khoản</label>
                    <input type="text" name="username" class="form-control" id="username" aria-describedby="emailHelp" required>
                  </div>
                  <div class="mb-4">
                    <label for="password" class="form-label">Mật khẩu</label>
                    <input type="password" name="password" class="form-control" id="password" required>
                  </div>
                  <div class="mb-4">
                    <label for="password" class="form-label">Xác nhận nật khẩu</label>
                    <input type="password" name="password" class="form-control" id="re-password" required>
                  </div>
                  <button type="submit" class="btn btn-primary w-100 py-8 fs-4 mb-4 rounded-2">Đăng ký</button>

                  <div class="d-flex align-items-center justify-content-center">
                    <p class="fs-4 mb-0 fw-bold">Bạn đã có tài khoản?</p>
                    <a class="text-primary fw-bold ms-2" href="{% url 'login' %}">Đăng nhập</a>
                  </div>

                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="{% static "/libs/bootstrap/dist/js/bootstrap.bundle.min.js" %}"></script>
  <script src="{% static "/js/doLogin.js" %}"></script>
</body>
</html>
