{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Default Title{% endblock %}</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'images/logos/favicon.png' %}" />
    
    <!-- CSS Files -->
    <link rel="stylesheet" href="{% static '/css/root.css' %}" />

    <link rel="stylesheet" href="{% static '/css/styles.min.css' %}" />
    <link rel="stylesheet" href="{% static '/css/phone.css' %}" />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
	<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
	<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	<script type="text/javascript" src="https://unpkg.com/@zxing/library@latest"></script>

    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="{% static 'dist/assets/js/all.js' %}" defer></script>
</head>
<body>
    <!-- Body Wrapper -->
    <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
         data-sidebar-position="fixed" data-header-position="fixed">
         
        <!-- Sidebar -->
        {% include 'partials/sidebar.html' %}
        
        <!-- Main wrapper -->
        <div class="body-wrapper">
            {% include 'partials/header.html' %}
            <div class="container-fluid position-relative min-vh-100">
                {% block body %}
                <!-- Content goes here -->
                {% endblock %}
            </div>
        </div>
    </div>
</body>
</html>
